body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111;
    font-family: sans-serif;
    color: white;
    flex-direction: column;
}
canvas {
    border: 2px solid white;
    border-radius: 8px;
}
p {
    margin-top: 20px;
    font-size: 1.2em;
}
